
# Titanic Dataset Analysis

## Introduction

The Titanic dataset is a classic dataset often used for data analysis and machine learning. It contains information about the passengers who were on board the Titanic when it sank on April 15, 1912, after hitting an iceberg.

The dataset includes various features such as:
- Passenger ID
- Survival status (Survived)
- Class (Pclass)
- Name
- Sex
- Age
- Number of siblings/spouses aboard (SibSp)
- Number of parents/children aboard (Parch)
- Ticket number
- Fare
- Cabin
- Port of Embarkation (Embarked)

## Objective

The main objective of this analysis is to explore the data, understand the key factors that might have influenced the survival of the passengers, and build predictive models to determine the likelihood of survival based on the available features.

## Source

The dataset is available on [Kaggle](https://www.kaggle.com/c/titanic) and is widely used for educational purposes and competitions.

## Outline

1. Data Loading and Exploration
2. Data Cleaning and Preprocessing
3. Exploratory Data Analysis (EDA)
4. Feature Engineering
5. Model Building and Evalu to your subsequent code and analysis.

In [35]:
#import necessary libraries

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data loading and Exploration

In [37]:
#load the dataset

In [38]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
#shape of the data

In [40]:
df.shape

(891, 12)

## Data cleaning and processing

In [41]:
df = df.drop(columns= ["PassengerId", "Name", "Ticket", "Cabin"], axis = 1)

In [42]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [43]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [44]:
#datatype check

In [45]:
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [46]:
#check for misssing values

In [47]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [49]:
#replace missing values

In [51]:
df["Age"] = df["Age"].replace(np.nan, df["Age"].median(axis=0))

# Feature Engineering

In [53]:
#select features

In [68]:
target = df['Survived']

In [55]:
features = df[["Pclass", "Age", "Fare", "Sex"]]

In [61]:
features.head()

   Pclass   Age     Fare     Sex
0       3  22.0   7.2500    male
1       1  38.0  71.2833  female
2       3  26.0   7.9250  female
3       1  35.0  53.1000  female
4       3  35.0   8.0500    male

In [62]:
features.dtypes

Pclass      int64
Age       float64
Fare      float64
Sex        object
dtype: object

In [65]:
from sklearn.preprocessing import LabelEncoder
sex_encoder = LabelEncoder()

In [66]:
features["Sex"] = sex_encoder.fit_transform(features["Sex"])

C:\Users\UCHIHA MADARA\AppData\Local\Temp\ipykernel_6572\2227490768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Sex"] = sex_encoder.fit_transform(features["Sex"])

In [67]:
features

     Pclass   Age     Fare  Sex
0         3  22.0   7.2500    1
1         1  38.0  71.2833    0
2         3  26.0   7.9250    0
3         1  35.0  53.1000    0
4         3  35.0   8.0500    1
..      ...   ...      ...  ...
886       2  27.0  13.0000    1
887       1  19.0  30.0000    0
888       3  28.0  23.4500    0
889       1  26.0  30.0000    1
890       3  32.0   7.7500    1

[891 rows x 4 columns]

In [90]:
target.dtype

dtype('int64')

In [91]:
features.dtypes

Pclass      int64
Age       float64
Fare      float64
Sex         int32
dtype: object

# Model building and Evaluation

In [102]:
X = features

In [103]:
y = target

In [104]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [105]:
features.head()

   Pclass   Age     Fare  Sex
0       3  22.0   7.2500    1
1       1  38.0  71.2833    0
2       3  26.0   7.9250    0
3       1  35.0  53.1000    0
4       3  35.0   8.0500    1

In [106]:
#use decision tree algorithm

In [108]:
from sklearn.tree import DecisionTreeClassifier
model = tree.DecisionTreeClassifier()

In [109]:
from sklearn.model_selection import train_test_split

In [110]:
X_train,X_test, y_train,y_test = train_test_split(X,y, train_size=0.2)

In [111]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [115]:
model.score(X_train,y_train)

0.9943820224719101